﻿@using SobreflexMVC.Domain.DTOs

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <button type="button" class="btn btn-dark">Dark</button>
</body>
</html>
